<div class="container-fluid " style="width: 65%">
    <div class="row">
        <div class="col-md-12">
            <div class="bg-black well">
                <h2>About Me
                </h2>
                <p>Showing no signs of stopping or slowing down now...</p>
            </div>
            <div class="row col-wrap">
                <div class="col-md-7 col">
                    <div class="bg-black well">
                        <h2>Latest Mix
                        </h2>
                        <p>
                            <iframe class="sample-music-resize" width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/26957406&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                        </p>
                        <p>
                            <a class="btn" href="https://soundcloud.com/capitalm">View details »</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-5 col">
                    <div class="bg-black well">
                        <h2 class="section-heading">Latest Event</h2>
                        <hr class="primary">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">
                                <img src="~/Content/img/event.jpg" class="resize-list" />
                            </div>
                            <div class="col-md-7">
                                <p>
                                    Picture here with link to past event information or small description of event
                                </p>
                                <a class="btn" href="#">Listen to more »</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="contact" class="bg-black contact footer-style">
    <div class="container">
        <div class="row">
            <div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <hr class="primary">
                    <p>Contact information goes here</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn" style="visibility: visible; animation-name: bounceIn;"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
@*<div style="height: 100px"></div>*@
