<div class="container-fluid slim">
    <div class="row">
        <div class="col-md-12">
            @*            <div class="row">
                <div class="col-md-7">
                    <div class="bg-black-transparent well">
                        <h2>About Me
                        </h2>
                        <p>Showing no signs of stopping or slowing down now...</p>
                    </div>
                </div>
            </div>*@
            <div class="row col-wrap">
                <div class="col-md-7 col">
                    <div class="bg-black-transparent well">
                        <h2>Latest Mix
                        </h2>
                        <p>
                            <iframe class="sample-music-resize" width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/26957406&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                        </p>
                        <p>
                            <a class="btn" href="https://soundcloud.com/capitalm">View details »</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-5 col">
                    <div class="bg-black-transparent well">
                        <h2 class="section-heading">Latest Event</h2>
                        <hr class="primary">
                        <div class="row">
                            <div class="col-md-1 col-sm-1 col-xs-0"></div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img src="~/Content/img/event.jpg" class="resize-list" />
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <p>
                                    Picture here with link to past event information or small description of event
                                </p>
                                <a class="btn" href="#">Listen to more »</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="contact" class="bg-black contact footer-style">
    <div class="container">
        <div class="row cell11">
            <div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <hr class="primary">
                    <p>Showing no signs of stopping or slowing down now, his next step would be to create a new sound people would enjoy and his ultimate dream is to visit Ibiza and start producing his own sounds like so many of his inspirations before him.</p>
                </div>
                <div class="col-md-1 col-xs-2 text-center col-md-offset-4 col-xs-offset-4 custom-width">
                    <p><a href="https://soundcloud.com/capitalm"><i class="fa fa-soundcloud fa-2x wow bounceIn" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i></a></p>
                </div>
                <div class="col-md-1 col-xs-2 text-center col-xs-offset-1 custom-width">
                    <p><a href="https://twitter.com/djcapitalm"><i class="fa fa-twitter fa-2x wow bounceIn" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i></a></p>
                </div>
                <div class="col-md-1 col-xs-2 text-center col-xs-offset-1 custom-width">
                    <p><a href="https://instagram.com/djcapitalm/"><i class="fa fa-instagram fa-2x wow bounceIn" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</section>
@*<div style="height: 100px"></div>*@
